@import url("/home/mirroxin/.cache/wal/colors-waybar.css");

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "Monocraft";
    font-weight: 500;
    font-size: 14px;
    padding: 0;
}

window#waybar {
    background: @background;
    border-radius: 6px;
}

.modules-left {
    padding-left: 20px;
    padding-right: 20px;
    background: transparent;
    border-radius: 5px;
}

.modules-right {
    padding-left: 20px;
    padding-right: 20px;
    background: transparent;
    border-radius: 5px;
}

tooltip {
    background-color: @color1;
    border-radius: 5px;
}

#clock,
#custom-weather,
#custom-media,
#network {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
}

#custom-pacman,
#cpu,
#memory,
#bluetooth,
#pulseaudio {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
}


#workspaces {
    margin: 6px 0px 6px 6px;
    padding-right: 30px;
    transition: all .3s;
    color: @color3;
}

#custom-archlogo {
    background-image: url("/home/mirroxin/Downloads/pidor-round.png");
    background-size: 28px 28px;
    background-repeat: no-repeat;
    background-position: left;
    padding-right: 30px;
    margin-right: 5px;
  }
 
#custom-separator {
    color: #000000;
}

#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: alpha(@color9,.4);
    transition: all .2s ease;
}
#workspaces button:hover {
    color:rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.active {
    color: @color9;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.empty {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
    color: @color9;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#clock {
    background: @color1;
    opacity: 0.9;
    border-radius: 5px;
    color: #000000;
}

#cpu {
    background: @color1;
    opacity: 0.9;
    border-radius: 5px;
    color: #000000;
}

#memory{
    background: @color2;
    opacity: 0.9;
    border-radius: 5px;
    color: #000000;
}

#pulseaudio {
    background: @color1;
    opacity: 0.9;
    border-radius: 5px;
    color: #000000;
}

#tray {
    margin: 6px 6px 6px 0px;
    opacity: 0.9;
    background: @color1;
    border-radius: 5px;
    padding: 0px 10px;
}

#network {
    background-color: @color2;
    opacity: 0.9;
    border-radius: 5px;
    color: #1d2021;
}

#bluetooth {
    background: @color1;
    opacity: 0.9;
    border-radius: 5px;
    color: #000000;
}

#custom-weather {
    background: @color1;
    opacity: 0.9;
    border-radius: 5px;
    color: #000000;
}

tooltip {
    background: rgba(0, 0, 0, 0.5); 
    opacity: 0.9;
    border-radius: 5px;
    color: #000000;
}

#custom-media {
    background-color: @color2;
    opacity: 0.9;
    border-radius: 5px;
    color: #1d2021;
    transition: all .3s;
}

#custom-pacman {
    background: @color1;
    opacity: 0.9;
    border-radius: 5px;
    color: #000000;
}