@import url("/home/mirroxin/.cache/wal/colors-waybar.css");

window {
  background-color: transparent;
}

#app {
  background-color: @background;
  border-radius: 12px;
  padding: 5px;
}

button {
  background-color: rgba(143, 0, 0, 0);
  padding: 4px;
  border-radius: 12px;
  border: none;
}